<%= render 'payola/transactions/stripe_header' %>
<div class="jumbotron home">
  <h1>We sell only the greatest things!</h1>
  <p>No seriously, this stuff is real.</p>
</div>

<div id="search">
  <%= form_tag root_path, method: :get, class: "form-horizontal", id: "search-form" do %>
    <div class="search-group">
      <%= text_field_tag :search_products, nil, class: "typeahead" %>
      <%= submit_tag "Search", class: "search-submit" %>
    </div>
  <% end %>

  <% if params[:search_products].present? %>
    You searched for: <em><%= params[:search_products] %></em>.
    <%= link_to "Clear search", root_path %>
  <% end %>
</div>


<div id="masonry-container" class="clearfix centered">
  <% @products.each do |product| %>
    <div class="product panel panel-primary box col3">
      <div class="panel-body">
        <%= image_tag product.photo_url %>
        <h4><%= product.name %></h4>
        <h4><%= number_to_currency product.price_in_dollars %></h4>
        <div>
          <%= link_to "Add to cart", cart_path(product_id: product.id),
            method: :post, remote: true, class: "btn btn-primary buy-now",
            data: { product_id: product.id } %>
        </div>
      </div>
    </div>
  <% end %>
</div>