<%= render 'payola/transactions/stripe_header' %>
<div class="jumbotron home">
  <h1>We sell only the greatest things!</h1>
  <p>No seriously, this stuff is real.</p>
</div>

<div id="search">
  <%= form_tag root_path, method: :get, class: "form-horizontal" do %>
    <%= text_field_tag :search_products, nil, id: "search-input" %>
    <%= submit_tag "Search", class: "btn btn-default" %>
  <% end %>

  <% if params[:search_products].present? %>
    You searched for: <em><%= params[:search_products] %></em>.
    <%= link_to "Clear search", root_path %>
  <% end %>
</div>

<div id="products">
  <% @products.each do |product| %>
    <div class="product panel panel-primary col-md-3">
      <div class="panel-heading">
        <h3 class="panel-title"><%= product.name %></h3>
      </div>
      <div class="panel-body">
        <%= image_tag product.photo_url %>
        <div class="buy">
          <b><%= number_to_currency product.price_in_dollars %></b>
          <%= link_to "Add to cart", cart_path(product_id: product.id),
            method: :post, remote: true, class: "btn btn-primary",
            data: { product_id: product.id } %>
        </div>
      </div>
    </div>
  <% end %>
</div>